@import url(reset.css);
/*main.css*/

/*common*/
body{font-size:12px;font-family:Dotum,"돋움",sans-serif;color:#777;background:url(../images/bg_main_def.jpg) repeat-x 0 0; }
a{text-decoration:none;color:#777;}
a:hover{text-decoration:none;}
input{vertical-align:middle;}
/*layout*/
#wrap{width:100%;position:relative;}
	#header{width:985px;height:205px;margin:0 auto;position:absolute;top:0;right:220px;}
	
	.main_flash{text-align:center;z-index:5;}
	#container{width:985px;height:500px;margin:0 auto;border:solid 1px red;}
	#container:after{content:"";display:block;clear:both;}
	.content1{width:985px;height:216px;}
	.content2{width:985px;height:212px;}
	.content3{width:985px;height:70px;}
	#footer{width:100%;height:95px;background-color:#707070;}
	.foot_inner{width:985px;margin:0 auto;}

/*header*/
/*로고*/
.logo{position:absolute;top:20px;left:70px;}

/*탑메뉴*/
.topMenu{position:absolute;top:10px;right:200px;}
.topMenu dd{float:left;padding:5px;}

/*통합검색*/
.search{position:absolute;top:10px;right:0;}
/*주메뉴*/
.gnb{clear:both;position:absolute;top:70px;right:0;width:550px;height:27px;}
.gnb li{float:left;}
.gnb li ul{position:absolute;top:30px;width:200px;height:250px;background: none repeat scroll 0 0 #FFFFFF;padding:10px;z-index:50;}
.gnb li ul li{line-height:200%;margin-right:15px;width:105px;text-align:center;}
.gnb a{color:#8b8787;font-weight:bold;}
.gnb a:hover{color:#f6a312;}

/*퀵메뉴*/

.quickMenu h3{position:absolute;top:130px;right:-240px;}
.quickMenu ul li{float:left;padding-top:30px;}
.quickMenu ul{display:none;position:absolute;top:130px;right:-160px;background: none repeat scroll 0 0 #FFFFFF;height:74px;width:700px; }
.quickMenu a{padding:10px;height:30px;}
.quickMenu a:hover{color:#f6a312;}
/*btn*/
/*content1*/
.btn_switch p.btn_1{position:absolute;top:200px;right:220px;z-index:10;}
.btn_switch p.btn_2{position:absolute;top:350px;right:220px;z-index:10;}
.content1{padding-top:30px;}
.content1 li{float:left;}
.content1_middle{display:none;}
.middle_list h3{float:left;}
.content1_01 p{float:right;}

/*contetn2*/
.live_ex{float:left;width:389px;}
.live_ex h3{padding-bottom:10px;}
.live_ex td{width:384px;height:115px;}
.live_new{float:left;width:286px;}
.live_people{float:right;width:275px;}



.live_new{position:relative;height:142px;}
.live_new h3{float:left;}
.live_new dt{float:left;padding:10px 5px; }
.live_new ul{position:absolute;left:0;top:50px;width:286px;}
.live_new li{background:url(../images/bul_tab.gif) no-repeat 0 50%;line-height:170%}
.live_new span{position:absolute;right:0;}
.live_new dd p.more{position:absolute;right:5px;top:8px;}
.live_new dt a{overflow:hidden;text-indent:-9999px;display:block;width:45px;}
dt.live_new0 a{background:url(../images/txt_bottom_new_01_on.gif) no-repeat 0 0;}
dt.live_new1 a{background:url(../images/txt_bottom_new_02_off.gif) no-repeat 0 0;}
dt.live_new2 a{background:url(../images/txt_bottom_new_03_off.gif) no-repeat 0 0;}
dt.live_new1 a:hover{background:url(../images/txt_bottom_new_02_on.gif) no-repeat 0 0;}
dt.live_new2 a:hover{background:url(../images/txt_bottom_new_03_on.gif) no-repeat 0 0;}

.live_people{position:relative;width:284px;height:145px;}
.live_people h3{float:left;width:242px;padding-bottom:20px;}
.live_people p{float:right;}
.live_people dd.img{float:left;}
.live_people dt{float:right;padding:5px 0px;width:175px;}
.live_people strong{font-weight:bold;}
.live_people dd.txt{text-align:left;float:right;width:175px;}
.more_01{position:absolute;top:115px;left:100px;}

/*content3*/
.banner li{float:left;padding:5px;}

/*footer*/
.foot_inner{position:relative;}
.foot_inner p{padding-top:20px;float:left;}
.foot_info{position:absolute;top:5px;left:140px;}
.foot_info li{float:left;padding:10px;}
.footer_sel{position:absolute;right:55px;;top:20px;}
.foot_go{position:absolute;right:0;top:0px;}
.foot_inner address{position:absolute;top:45px;left:140px;}